# Бинарные файлы
lv
lv.exe
*.exe
*.dll
*.so
*.dylib

# Папки сборки
build/
dist/
bin/

# IDE файлы
.vscode/
.idea/
*.swp
*.swo

# Временные файлы
*.log
*.tmp
*.temp

# ОС специфичные файлы
.DS_Store
Thumbs.db

# Go файлы
go.sum
*.test
*.out